@use "../../shared/colors";
@use "../../shared/breakpoints";

.navigation_bar__container {
    display: flex;
    gap: 1rem;
    // align-items: center;
}

.navigation_bar__bar {
    display: flex;
    gap: 1rem;
    justify-self: center;

    height: fit-content;
    margin: 0 auto;
    padding: 0.25rem;

    border-radius: 10000px;
    border: 1.5px solid colors.$border-light;
}

.navigation_bar__picture {
    cursor: pointer;
    
    justify-self: flex-start;
    align-self: center;

    img {
        height: 72px;
        border-radius: 10000px;
    }
}

.navigation_bar__single_element {
    cursor: pointer;

    padding: 0.35em 1em 0.35em 1em;
    border-radius: 10000px;
    
    width: fit-content;
    height: fit-content;

    a {
        color: black;
        background: white;
        font-weight: 700;
        text-decoration: none;

        &:visited {
            color: black;
        }

        transition: color 500ms ease;
    }

    
    &:hover {
        a {
            color: colors.$accent-light;
            transition: color 500ms ease;
        }
    }
    
    &.active {
        a {
            color: colors.$accent-light;
            transition: color 500ms ease;
        }
    }
}




