@use "@/shared/colors";
@use "@/shared/breakpoints";

.experience_box__box {
    border: 1px solid colors.$border-light;
    border-radius: 20px;
    padding: 0.8rem;

    display: flex;
    flex-direction: column;
    
    gap: 0.8rem;
    @include breakpoints.sm {
      gap: 0.2rem;
    }
    
    @include breakpoints.md {
      width: 50%;
    }
}

.experience__company_icon {
    cursor: default;

    img {
        padding: 3px;
        
        border: 1.3px solid colors.$border-light;
        border-radius: 2000px;

        background: colors.$background-white;
        
        height: 40px;
        min-width: 40px;
        @include breakpoints.sm {
            height: 44px;
            min-width: 44px;
        }
    }
}

.experience_box__row {
    display: flex;
    line-height: 1.5;
    
    gap: 1rem;

    justify-content: center;
    align-items: center;
}

.experience_box__company_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    font-size: 0.8rem;
    .experience_box__company_info__bold {
        font-weight: 700;
    }
    .experience_box__company_info__row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        
        flex-direction: column;
        @include breakpoints.xs {
            flex-direction: row;
        }

        .experience_box__company_info__text {
            font-weight: 300;
        }
    }
}
