@use "@/shared/colors";
@use "@/shared/breakpoints";

#main {
  display: flex;
  justify-content: center;
  background-color: colors.$background-light;
  min-height: 100vh;
}

#body {
  background-color: colors.$background-white;
  border-left: 0.5px solid colors.$border-light;
  border-right: 0.5px solid colors.$border-light;

  padding: 2rem;
  
  width: 90vw;
  @include breakpoints.sm {
    padding: 3rem;
    width: 90vw;
    max-width: 1000px;
  }
}

