@use "@/shared/colors";
@use "@/shared/breakpoints";

.project__card {
    padding: 1.0rem;

    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    text-align: left;
    line-height: 1.2;

    gap: 0.5rem;
    font-size: 0.9rem;
    
    .project__title {
        font-weight: 700;
        font-size: 1.1rem;
    }

    .project__bottom {
        justify-self: flex-end;
        margin-top: auto;

        .project__socials_flex {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;
            margin-bottom: 0.25em;
        }
    }
    
    border-radius: 16px;
    border: 1.5px solid colors.$border-light;
    transition: all 150ms ease;

    &:hover {
        border: 1.5px solid colors.$accent-light;
        transform: scale(1.02);

        transition: all 450ms ease;
        cursor: default;
    }
}

.project__tag_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
}
